.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  /* Legacy property for Internet Explorer */
  clip-path: inset(50%);
  white-space: nowrap;
}

.icon-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  gap: 1em;
}
